$white08: rgba($color: #fff, $alpha: .8);
$white03: rgba($color: #fff, $alpha: .3);

body {
  margin: 0; 
  font-family: 'HelveticaNeueLight', 'Roboto Light', 'sans-serif';
}

input {
  box-sizing: border-box;
  outline: none;
}

.container {
  position: relative;
  min-height: 100vh;

  background-image: url("./img/1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  animation: bgSlider 20s linear infinite;
  animation-timing-function: ease-in-out;

  .form-qcrm {
    @media (max-width: 380px) {
      transform-origin: center;
      transform: translate(-50%, -50%) scale(0.7);         
    }  

    position: absolute;
    left: 50%;
    top: 54%;
    transform: translate(-50%, -50%);    

    display: flex;
    flex-flow: column;
    align-items: center;
    width: 360px;
    height: 420px;
    max-height: 80vh;

    
    background: $white08;
    box-shadow: 0 5px 25px rgb(136, 136, 136);
    
    animation: form-animation 1s;
    transform-origin: top;        
    
    &__logo {
      position: absolute;
      left: 50%;      
      transform: translate(-50%, -50%); 

      width: 100px;
      height: 100px;
      
      border-radius: 20px;
      box-shadow: 0 0 7px #b7b7b7;      
      background-color: $white08;

      animation-name: logo;
      animation-duration: 1s;

      &-orange,
      &-blue,
      &-pink,
      &-green {
        position: absolute;
        width: 29px;
        height: 29px;
        
        border-radius: 7px;
        opacity: .8;
        animation-duration: 1s;
      }
      
      &-orange {
        top: 15px;
        left: 29px;

        background: #f8911d;
        animation-name: orange-block;        
      }

      &-blue {
        top: 44px;
        left: 29px;

        background: #3e9ffd;
        animation-name: blue-block; 
      }

      &-pink {
        right: 29px;
        bottom: 44px;

        background: #d1369c;
        animation-name: pink-block;        
      }

      &-green {
        right: 29px;
        bottom: 15px;

        background: #4ebf49;
        animation-name: green-block;        
      }
    }

    &__title {
      margin-top: 70px;
      margin-bottom: 0;
      font-size: 30px;
    }

    &__subtitle {
      margin: 0;
      font-size: 15px;
      color: #787b79;
    }

    &__login,
    &__password {
      width: 280px;
      height: 40px; 
      padding: 0 10px;
      
      font-size: 16px; 
      border: 1px solid black;
      
      &::placeholder {
        color: #b7b7b7;
      }
    }

    &__login:focus,
    &__password:focus {
      border: 1px solid #3e9ffd;
      box-shadow: inset 0 2px 3px #b7b7b7; 
    }

    &__login {
      margin-top: 35px;
    }

    &__password {
      margin-top: 20px;
      margin-bottom: 25px;
    }

    &__checkbox-container {
      position: relative;
      width: 280px;
    }
    
    &__checkbox {
      position: absolute;    
      appearance: none;
    }  

    &__label {
      position: absolute;
      padding-left: 20px;

      font-size: 14px;
      color: #636363;

      user-select: none;
      
      &::before {
        position: absolute;
        top: 2px;
        left: 0;
        z-index: 1;

        display: block;
        content: '';
        width: 13px;
        height: 13px;
        
        background-color: #fff;
        border-radius: 3px;
      } 

      &::after {
        position: absolute;
        top: 2px;
        left: 0;
        z-index: 2; 

        display: block;
        content: '';
        width: 13px;
        height: 13px;

        background: url('./img/check.png') no-repeat center;
        filter: invert(1);
        background-size: 10px 10px;
        opacity: 0;
      }        
    }    
    
    .form-qcrm__checkbox:checked + .form-qcrm__label::before {
      background-color: #3e9ffd;
    }

    .form-qcrm__checkbox:checked + .form-qcrm__label::after {
      opacity: 1;
    }

    &__subbmit {
      width: 280px;
      height: 40px; 
      margin-top: 40px;
      padding: 0 10px;

      font-size: 16px;
      color: #fff;

      border: 0;      
      background-color: #3e9ffd;
      cursor: pointer;
    }
  }
}

@keyframes form-animation {
  from {
    transform: translate(-50%, -50%) rotateX(-10deg);
    opacity: 0;    
  }

  to {
    transform: translate(-50%, -50%) rotateX(0deg);
    opacity: .95;   
  }
}

@keyframes logo {
  from {
    transform: translate(-50%, -50%) rotateX(90deg);
    background: $white03;
    perspective: 60px;    
  }

  to {
    transform: translate(-50%, -50%) rotateX(0deg);
    background: $white08;
    perspective: none;
  }
}

@keyframes orange-block {
  from {
    transform:  rotateX(70deg);
    top: -200px;
    opacity: .2;
  }

  to {
    transform:  rotateX(0deg);
    top: 15px;
    opacity: .8;
  }
}

@keyframes blue-block {
  from {
    transform:  rotateX(70deg);
    top: -30px;
    opacity: .2;
  }

  to {
    transform:  rotateX(0deg);
    top: 44px;
    opacity: .8;
  }
}

@keyframes pink-block {
  from {
    transform:  rotateX(70deg);
    bottom: 150px;
    opacity: .2;
  }

  to {
    transform:  rotateX(0deg);
    bottom: 44px;
    opacity: .8;
  }
}

@keyframes green-block {
  from {
    transform:  rotateX(70deg);
    bottom: 450px;
    opacity: .2;
  }

  to {
    transform:  rotateX(0deg);
    bottom: 15px;
    opacity: .8;
  }
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('./fonts/HelveticaNeueLight.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@keyframes bgSlider {
 0%, 100% {
   background-image: url('./img/1.jpg');
 }
  20% {
   background-image: url('./img/2.jpg');
 }
  40% {
   background-image: url('./img/3.jpg');
 }
  60% {
   background-image: url('./img/4.jpg');
 }
  80% {
   background-image: url('./img/5.jpg');
 }
}
